body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightslategray;
}

h1 {text-align: center;}

nav {
    background-color: lightgrey;
    width: 950px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
nav a {
    font-size: 2rem;
}
nav a:hover {background-color:gray;}

footer {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}