body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightslategray;
}

h1 {text-align: center;}

nav {
    background-color: darkslateblue;
    width: 950px;
    height: 60px;
    margin: auto;
    border-radius: 20px;
    
    
    display: flex;
    justify-content: space-evenly;
}
nav a {
    font-size: 2rem;
    color: white;
    
}
nav a:hover {
    color: cornflowerblue;
    height: 50px;
    opacity: 70%;
    border-radius: 20px;
}

footer {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}