body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightslategray;
}

h1 {text-align: center;}

nav {
    background-color: lightgrey;
    width: 950px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}